<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.cartservice.mapper.CartMapper">




    <!-- 장바구니 등록 -->
    <insert id="save" parameterType="CartDto">
        INSERT
        INTO cart( userInfo_id, product_id, stock)
        VALUES ( #{cartDto.userInfoId}, #{cartDto.productId}, #{cartDto.stock} )
    </insert>

    <!-- 장바구니 수량 수정 -->
    <update id="updateStock" parameterType="CartDto">
        UPDATE cart
        SET stock = stock + #{cartDto.stock}
        WHERE userInfo_id = #{cartDto.userInfoId}
        AND product_id = #{cartDto.productId}
    </update>

    <!-- 장바구니 중복 상품 확인 -->
    <select id="findByUserInfoAndProduct" resultType="int" parameterType="CartDto">
        SELECT count(*)
        FROM cart c
        WHERE userInfo_id = #{cartDto.userInfoId}
        AND product_id = #{cartDto.productId}
    </select>

    <!-- 장바구니 전체 조회 -->
    <select id="cartAll" resultType="CartResponse" parameterType="String">
        SELECT c.id, p.id as 'productId', p.name, p.price, c.stock, p.price * c.stock as 'totalPrice'
        FROM cart c
                 INNER JOIN product p ON p.id = c.product_id
                 INNER JOIN userInfo u ON p.userInfo_id = u.id
        WHERE u.email = #{email}
    </select>

    <!-- 장바구니 선택 삭제 -->
    <delete id="delete">
        DELETE
        FROM cart
        WHERE userInfo_Id = #{userInfoId}
        AND id IN
        <foreach item="cartId" collection="cartIdList" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>

    <!-- 장바구니 전체 삭제 -->
    <delete id="deleteAll">
        DELETE
        FROM cart
        WHERE userInfo_Id = #{userInfoId}
    </delete>
</mapper>