<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.cartservice.mapper.ProductMapper">

    <!-- 상품 저장 -->
    <insert id="save" parameterType="ProductDto">
        INSERT
        INTO product( userInfo_id, name, price, content, stock, upload_date )
            VALUES ( #{productDto.userInfoId}, #{productDto.name}, #{productDto.price}, #{productDto.content}, #{productDto.stock}, now() )
    </insert>

    <!-- 전체 상품 조회 -->
    <select id="productAll" resultType="ProductResponse">
        SELECT p.id, u.name as 'username', p.name, p.price, p.content, p.stock, p.upload_date
        FROM product p
            INNER JOIN userInfo u ON p.userInfo_id = u.id
    </select>

    <!-- 아이디로 상품 조회  -->
    <select id="findById" resultType="ProductResponse" parameterType="int">
        SELECT p.id, u.name as 'username', p.name, p.price, p.content, p.stock, p.upload_date
        FROM product p
             INNER JOIN userInfo u ON p.userInfo_id = u.id
        where p.id = #{id}
    </select>

    <!-- 페이징을 위한 상품 카운트 -->
    <select id="searchCountProduct" resultType="int" parameterType="ProductSearchDto">
        SELECT count(*)
        FROM product
        <where>
            <if test="productSearchDto.type == 'name'">
                name LIKE CONCAT('%', #{productSearchDto.keyword}, '%')
            </if>
            <if test="productSearchDto.type == 'content'">
                content LIKE CONCAT('%', #{productSearchDto.keyword}, '%')
            </if>
        </where>
    </select>

    <!-- 페이징 상품 조회 -->
    <select id="searchProducts" resultType="ProductResponse">
        SELECT *
        FROM product
        <where>
            <if test="productSearchDto.type == 'name'">
                name LIKE CONCAT('%', #{productSearchDto.keyword}, '%')
            </if>
            <if test="productSearchDto.type == 'content'">
                content LIKE CONCAT('%', #{productSearchDto.keyword}, '%')
            </if>
        </where>
        ORDER BY upload_date
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 상품 금액 조회 -->
    <select id="selectProductPrice" resultType="int">
        SELECT price
        FROM product
        WHERE id = #{productId}
    </select>

    <!-- 주문시 수량 변경 -->
    <update id="updateStock" parameterType="int">
        UPDATE product
        SET stock = stock - #{stock}
        WHERE id = #{productId}
    </update>

</mapper>